*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7dfdf;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.tenor-gif-embed{
    max-width: 300px;
    margin: 0 auto;
}

h1{
    color: #ce2b30;
}

p {
    color: black;
    font-size: 1.2rem;
}

.button {
    margin-top: 20px;
}

.button a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.button a:first-child {
    background-color: #42a646;
    color: white;
}

.button a:last-child {
    background-color: #eb392f;
    color: white;
}

.button a:hover {
    opacity: 0.8;
}